<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pon-design</title>
  <meta name="description" content="PON DESIGNは、Webサイト制作・運用・アプリ開発を行うWeb制作会社です。">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
{% include "_partials/header.njk" %}
<main>
  <section class="p-sub-header">
    <div class="container l-container">
      <h1 class="c-section-title c-title">
        <span class="c-section-title__main">COMPANY</span>
        <span class="c-section-title__sub">私たちについて</span>
      </h1>
    </div>
  </section>
  <nav class="c-breadcrumb" aria-label="breadcrumb">
    <ol>
      <li><a href="./index.html">HOME</a></li>
      <span>></span>
      <li><a href="./company.html" aria-current="page">COMPANY</a></li>
    </ol>
  </nav>
  <section id="company" class="p-company p-company--detail">
    <div class="container l-container p-company__container">
      <h2 class="c-section-title c-title">
        <span class="c-section-title__main">メッセージ</span>
      </h2>
      <h3 class="p-company__heading"><span>サイトのゴール =<br class="pc-none"> 夢を叶えること</span></h3>
      <p class="p-company__description">お客様の夢を叶えること。<br>
        それがWebサイトのゴールであり、<br class="pc-none">私たちが目指すことです。<br>
        だからこそちゃんと成果を出すサイトを<br class="pc-none">全力でお作りします。<br>
        お客様の笑顔を見たい。<br>
        夢を実現する手助けをさせてください。
      </p>
    </div>
  </section>
  <section id="message" class="p-message">
    <div class="container l-container p-message__container">
      <div class="p-message__image">
        <img src="../img/ceo.jpg" alt="代表取締役 猫山ポン太郎">
      </div>
      <div class="p-message__text">
        <p>
          テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
        </p>
        <p>
          テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
        </p>
        <p>
          代表取締役社長 猫山ポン太郎
        </p>
      </div>
    </div>
  </section>
  <section id="company-info" class="p-company-info">
    <div class="container l-container p-company-info__container">
      <h2 class="c-section-title c-title">
        <span class="c-section-title__main">会社情報</span>
      </h2>
      <dl class="p-company-info__list">
        <div class="p-company-info__row">
          <dt>社名</dt>
          <dd>株式会社PON DESIGN</dd>
        </div>
        <div class="p-company-info__row">
          <dt>設立</dt>
          <dd>2025.02.10</dd>
        </div>
        <div class="p-company-info__row">
          <dt>代表取締役</dt>
          <dd>猫山ポン太郎</dd>
        </div>
        <div class="p-company-info__row">
          <dt>資本金</dt>
          <dd>1,000,000円</dd>
        </div>
        <div class="p-company-info__row">
          <dt>所在地</dt>
          <dd>〒555-5555 東京都千代田区 ポンビルディング 606</dd>
        </div>
      </dl>
      <div class="p-company-info__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25924.77829319612!2d139.7357797726949!3d35.68691680243238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c0c0b13f54d%3A0xb630953beee48188!2z5p2x5Lqs6YO95Y2D5Luj55Sw5Yy6!5e0!3m2!1sja!2sjp!4v1777801900008!5m2!1sja!2sjp" width="1110" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="p-company-info__map-link">
        <a href="https://maps.app.goo.gl/ggB7EYKgcHEMiPNu8" target="_blank" rel="noopener noreferrer">
        Google mapで見る
        </a>
      </div>
    </div>
  </section>
  <section id="contact-area" class="p-contact">
    <div class="container l-container">
      <h2 class="c-section-title c-title">
        <span class="c-section-title__main">CONTACT</span>
        <span class="c-section-title__sub">お問い合わせ</span>
      </h2>
      <p class="p-contact__text">WEBサイトの制作のご依頼やお見積りなど、<br class="pc-none">お気軽にご相談ください。</p>
      <div class="c-button-wrap">
        <a href="./contact.html" class="c-button c-button--primary c-button--more">MORE</a>
      </div>
    </div>
  </section>
</main>
{% include "_partials/footer.njk" %}
  <button class="c-top-btn is-show" aria-label="ページトップに戻る">↑</button>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"></script>
  <script src="../js/common.js"></script>
</body>
</html>