<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pon-design</title>
  <meta name="description" content="PON DESIGNは、Webサイト制作・運用・アプリ開発を行うWeb制作会社です。">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
{% include "_partials/header.njk" %}
<main>
  <section class="p-sub-header">
    <div class="container l-container">
      <h1 class="c-section-title c-title">
        <span class="c-section-title__main">NEWS</span>
        <span class="c-section-title__sub">お知らせ</span>
      </h1>
    </div>
  </section>
  <nav class="c-breadcrumb" aria-label="breadcrumb">
    <ol>
      <li><a href="./index.html">HOME</a></li>
      <span>></span>
      <li><a href="./news.html" aria-current="page">NEWS</a></li>
    </ol>
  </nav>
  <section id="news" class="p-news p-news--archive">
    <div class="container l-container">
      <div class="p-news__contents p-news__contents--archive is-active" data-page="1">
        <ul class="p-news__list p-news__list--archive">
          <li>
            <a href="./news-detail.html">
              <div class="p-news__meta">
                <time datetime="2030-02-01">2030.02.01</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">Webデザインニュースサイト「ウェブマガジン」に取材いただきました</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-25">2030.01.25</time>
                <span class="c-category">制作実績</span>
              </div>
              <p class="p-news__text">Smoothiesta様のWebサイトを制作いたしました</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-20">2030.01.20</time>
                <span class="c-category">採用</span>
              </div>
              <p class="p-news__text">Webデザイナーを1名募集中です！</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-15">2030.01.15</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">（折り返しテキストの場合）テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="p-news__contents p-news__contents--archive" data-page="2">
        <ul class="p-news__list p-news__list--archive">
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="p-news__contents p-news__contents--archive" data-page="3">
        <ul class="p-news__list p-news__list--archive">
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-news__meta">
                <time datetime="2030-01-14">2030.01.14</time>
                <span class="c-category">お知らせ</span>
              </div>
              <p class="p-news__text">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            </a>
          </li>
        </ul>
      </div>
      <nav class="c-pagination">
        <ul class="c-pagination__list">
          <li><button class="c-pagination__btn is-active" data-page="1">1</button></li>
          <li><button class="c-pagination__btn" data-page="2">2</button></li>
          <li><button class="c-pagination__btn" data-page="3">3</button></li>
        </ul>
      </nav>
    </div>
  </section>
  <section id="contact-area" class="p-contact">
    <div class="container l-container">
      <h2 class="c-section-title c-title">
        <span class="c-section-title__main">CONTACT</span>
        <span class="c-section-title__sub">お問い合わせ</span>
      </h2>
      <p class="p-contact__text">WEBサイトの制作のご依頼やお見積りなど、<br class="pc-none">お気軽にご相談ください。</p>
      <div class="c-button-wrap">
        <a href="./contact.html" class="c-button c-button--primary c-button--more">MORE</a>
      </div>
    </div>
  </section>
</main>
{% include "_partials/footer.njk" %}
  <button class="c-top-btn is-show" aria-label="ページトップに戻る">↑</button>
  <script src="../js/common.js"></script>
</body>
</html>