{% extends "_partials/base.njk" %}
{% block content %}
<main>
  <section class="p-sub-header">
    <div class="container l-container">
      <h1 class="c-section-title c-title">
        <span class="c-section-title__main">RECRUIT</span>
        <span class="c-section-title__sub">採用情報</span>
      </h1>
    </div>
  </section>
  <nav class="c-breadcrumb" aria-label="breadcrumb">
    <ol>
      <li><a href="./index.html">HOME</a></li>
      <span>></span>
      <li><a href="./recruit.html" aria-current="page">RECRUIT</a></li>
    </ol>
  </nav>
  <div class="p-recruit-bg">
    <section class="p-recruit-message">
      <div class="container l-container">
        <h2 class="p-recruit-message__catch">Enjoy Creation for Client</h2>
        <span class="p-recruit-message__sub">楽しむ心が良いモノを生む</span>
        <p class="p-recruit-message__text">心を弾ましながら<br>夢いっぱいのサイトを作ろう！<br>お客様も自分もみんなが幸せになれるように</p>
        <div class="p-recruit-visual__image">
          <img src="../img/recruit01.jpg" alt="働くスタッフの様子">
        </div>
      </div>
    </section>
    <section class="p-recruit-info">
      <div class="container l-container">
        <h2 class="c-section-title">
          <span class="c-section-title__main">募集中の職種</span>
        </h2>
        <div class="p-recruit-info__inner">
          <h3 class="p-recruit-info__title">Webデザイナー</h3>
          <dl class="p-company-info__list p-recruit-info__list">
            <div class="p-company-info__row">
              <dt>雇用形態</dt>
              <dd>正社員</dd>
            </div>
            <div class="p-company-info__row">
              <dt>給与</dt>
              <dd>400万円〜600万円（経験・能力を考慮のうえ優遇）</dd>
            </div>
            <div class="p-company-info__row">
              <dt>仕事内容</dt>
              <dd>Webサイトの制作。サイトのデザインとコーディングを担当していただきます。</dd>
            </div>
            <div class="p-company-info__row">
              <dt>勤務時間</dt>
              <dd>10:00 〜 19:00（実働8時間、休憩1時間）</dd>
            </div>
            <div class="p-company-info__row">
              <dt>応募資格</dt>
              <dd><p class="p-recruit-info__desc">PhotoshopやXDなどのデザインツールの使い方を理解し、コーディングの基礎スキルがある方。実務未経験でも学校や独学で学習した方を歓迎します。</p>
              <p>
                ・デザインやコーディングを楽しめる方<br>
                ・常にアンテナを張って積極的にトレンドや最新の技術を取り入れる方<br>
                ・お客様と一緒に楽しみながら高い目標を目指せる方</dd>
              </p>
            </div>
          </dl>
          <div class="c-button-wrap">
            <a href="#" class="c-button c-button--primary p-recruit__btn">応募する</a>
          </div>
          <p class="c-button__note">求人サイトへ遷移します</p>
        </div>
      </div>
    </section>
    <section class="p-recruit-movie">
      <div class="container l-container">
        <h2 class="c-section-title">
          <span class="c-section-title__main">社内ムービー</span>
        </h2>
        <div class="p-recruit-movie__frame">
          <iframe src="https://www.youtube.com/embed/Mfy1HCD2sTk?si=eMh_LACGvYleV4v3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </section>
  </div>
  <section id="contact-area" class="p-contact">
    <div class="container l-container">
      <h2 class="c-section-title c-title">
        <span class="c-section-title__main">CONTACT</span>
        <span class="c-section-title__sub">お問い合わせ</span>
      </h2>
      <p class="p-contact__text">WEBサイトの制作のご依頼やお見積りなど、<br class="pc-none">お気軽にご相談ください。</p>
      <div class="c-button-wrap">
        <a href="./contact.html" class="c-button c-button--primary c-button--more">MORE</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}
</body>
</html>