<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pon-design</title>
  <meta name="description" content="PON DESIGNは、Webサイト制作・運用・アプリ開発を行うWeb制作会社です。">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
{% include "_partials/header.njk" %}
<main>
  <section class="p-sub-header">
    <div class="container l-container">
      <h1 class="c-section-title c-title">
        <span class="c-section-title__main">SERVICE</span>
        <span class="c-section-title__sub">事業内容</span>
      </h1>
    </div>
  </section>
  <nav class="c-breadcrumb" aria-label="breadcrumb">
    <ol>
      <li><a href="./index.html">HOME</a></li>
      <span>></span>
      <li><a href="./service.html" aria-current="page">SERVICE</a></li>
    </ol>
  </nav>
  <section class="p-service p-service--archive">
    <div class="container l-container">
      <div class="p-service__list--archive">
        <article class="p-service__item--archive">
          <figure class="p-service__image--archive">
            <img src="../img/service01.jpg" alt="Webサイト制作">
          </figure>
          <div class="p-service__content--archive">
            <h2 class="p-service__title--archive">Webサイト制作</h2>
            <p class="p-service__text--archive">
              新規サイトはもちろん、サイトリニューアルやランディングページ制作も承っております。<br>
              サイトのゴールはお客様の夢や目的を実現することです。そのためにまずはしっかりとお話をうかがい、
              サイトに必要な要素を洗い出します。その後、ワイヤーフレーム（サイトのレイアウト）の作成、
              デザインの制作、コーディングと進みます。制作の過程でお客様とのお打ち合わせを数回実施させていただき、
              ご要望とご意見を反映しながらサイトを制作していきます。
            </p>
          </div>
        </article>
        <article class="p-service__item--archive">
          <figure class="p-service__image--archive">
            <img src="../img/service02.jpg" alt="Webサイト運用">
          </figure>
          <div class="p-service__content--archive">
            <h2 class="p-service__title--archive">Webサイト運用</h2>
            <p class="p-service__text--archive">
              サイトの更新作業や独自のアクセス解析に基づいたサイト改善のご提案が可能です。<br>
              日々の面倒な更新作業は私たちにおまかせください。テキストの修正やリンクの張り替えなどの簡単な作業から、特集ページやバナーのデザインまで可能です。<br>
              また、アクセス解析によるサイト改善も承っております。ご購入やお申込数などにお悩みでしたらぜひご相談ください。サイトの課題を発見し、改善案のご提案から実装までワンストップで対応いたします。
            </p>
          </div>
        </article>
        <article class="p-service__item--archive">
          <figure class="p-service__image--archive">
            <img src="../img/service03.jpg" alt="アプリ開発">
          </figure>
          <div class="p-service__content--archive">
            <h2 class="p-service__title--archive">アプリ開発</h2>
            <p class="p-service__text--archive">
              サイトの更新作業や独自のアクセス解析に基づいたサイト改善のご提案が可能です。<br>
              日々の面倒な更新作業は私たちにおまかせください。テキストの修正やリンクの張り替えなどの簡単な作業から、特集ページやバナーのデザインまで可能です。<br>
              また、アクセス解析によるサイト改善も承っております。ご購入やお申込数などにお悩みでしたらぜひご相談ください。サイトの課題を発見し、改善案のご提案から実装までワンストップで対応いたします。
            </p>
          </div>
        </article>
      </div>
    </div>
  </section>
  <section id="contact-area" class="p-contact">
    <div class="container l-container">
      <h2 class="c-section-title c-title">
        <span class="c-section-title__main">CONTACT</span>
        <span class="c-section-title__sub">お問い合わせ</span>
      </h2>
      <p class="p-contact__text">WEBサイトの制作のご依頼やお見積りなど、<br class="pc-none">お気軽にご相談ください。</p>
      <div class="c-button-wrap">
        <a href="./contact.html" class="c-button c-button--primary c-button--more">MORE</a>
      </div>
    </div>
  </section>
</main>
{% include "_partials/footer.njk" %}
  <button class="c-top-btn is-show" aria-label="ページトップに戻る">↑</button>
  <script src="../js/common.js"></script>
</body>
</html>