<footer class="l-footer">
  <div class="container l-container">
    <nav class="c-nav">
      <ul class="c-nav__list">
        <li class="c-nav__item">
          <a href="./index.html">HOME</a>
        </li>
        <li class="c-nav__item">
          <a href="./news.html">NEWS</a>
        </li>
        <li class="c-nav__item">
          <a href="./service.html">SERVICE</a>
        </li>
        <li class="c-nav__item">
          <a href="./works.html">WORKS</a>
        </li>
        <li class="c-nav__item">
          <a href="./company.html">COMPANY</a>
        </li>
        <li class="c-nav__item">
          <a href="./recruit.html">RECRUIT</a>
        </li>
        <li class="c-nav__item">
          <a href="./contact.html">CONTACT</a>
        </li>
      </ul>
    </nav>
    <nav class="c-nav-sp">
      <ul class="c-nav-sp__list">
        <li class="c-nav-sp__item"><a href="./index.html">HOME</a></li>
        <li class="c-nav-sp__item"><a href="./news.html">NEWS</a></li>
        <li class="c-nav-sp__item"><a href="./service.html">SERVICE</a></li>
        <li class="c-nav-sp__item"><a href="./works.html">WORKS</a></li>
      </ul>
      <ul class="c-nav-sp__list">
        <li class="c-nav-sp__item"><a href="./company.html">COMPANY</a></li>
        <li class="c-nav-sp__item"><a href="./recruit.html">RECRUIT</a></li>
        <li class="c-nav-sp__item"><a href="./contact.html">CONTACT</a></li>
      </ul>
    </nav>
    <a href="./index.html"><p>©PON DESIGN</p></a>
  </div>
</footer>